.main-nav{
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  @extend .medium-margin-top;

  &__ul{
    @extend .flex-between;

    &__item{

      &:nth-child(2){
        border-bottom: .2rem solid $black;
      }
      &:nth-child(2) > &__anchor{
        font-weight: bold;
      }


      &:hover{
        border-bottom: .2rem solid $black;
      }

      &:hover &__anchor{
        font-weight: bold;
      }

      &__anchor{
        font-family: "Roboto",sans-serif;
        font-size: 1.7rem;
        line-height: 2rem;
      }
    }
  }
}