.nav-info{
  width: 120rem;
  margin-left: auto;
  margin-right: auto;
  @extend .flex-between;
  @extend .small-margin-top;


  &__heading-info{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.1rem;
    letter-spacing: .31em;
    text-transform: uppercase;
    position: relative;

    &::after{
      content: "";
      width: 46%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      border-bottom: 2px solid $yellow-orange;
    }

    &--plus{
      color: $yellow-orange;
      margin-left: -10px;
    }
  }

  &__search-input-container{

    position: relative;


    &__input{
      width: 38rem;
      height: 3.2rem;
      background: $darkwhite;
      border-radius: .4em;
      padding-left: 7%;
      outline: none;
      border: none;
    }

    &__search-icon{
      position: absolute;
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
    }

  }

  &__cta-field{
    @extend .flex-between;
    width: 47rem;

    &__profile{
      @extend .flex-between;
      gap: .5rem;

      &__description{
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.15rem;
        line-height: 120%;
        &--bolded{
          font-weight: bold;
        }
      }
    }

  }

}
//END MIDDLE TOP NAVIGATION