.btn__register{
  width: 10.4rem;
  height: 2.1rem;
  background: $white;
  border-radius: 1.2rem;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-size: .9rem;
  line-height: .9em;
  letter-spacing:0.15rem;
  color: $dark;
  @extend .flex-centered;
}
.btn__hiring{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5em;
  color: $primary;
  width: 8.9rem;
  height: 2.4rem;
  border: .1rem solid $primary;
  border-radius: .3em;
  text-transform: uppercase;
  @extend .flex-centered;
}
.btn__help{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5em;
  background-color: $light-yellow;
  width: 8rem;
  height: 2.4rem;
  border-radius: .3em;
  text-transform: uppercase;
  @extend .flex-centered;
}

.btn__chat{
  font-weight: 900;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;

  align-items: center;
  padding: .86rem 4.34rem;
  gap: .3rem;
  width: 18.9rem;
  height: 4.4rem;
  color: $white;
  background: #49A55D;
  border-radius: .3em;

  /* Inside auto layout */
}

.btn__apply{
  @extend .small-margin-top;
  width: 23.9rem;
  height: 4.2rem;
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 0.015em;
  background-color: $lightblue;
  color: $white;
  border-radius: .4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__download{
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.4rem;

  color: $lightblue;
  width: 16.5rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $lightblue;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn__signup{
  @extend .flex-centered;
  padding: 1.3rem .4rem;
  width: 27.3rem;
  height: 3.9rem;
  background: $lightblue;
  border-radius: .4rem;
  color: $white;
  font-size: 1.4rem;
  font-weight: bold;



}