
.comment__section{
  border-bottom: .1em solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
  @extend .medium-margin-top;
  &__info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    width: 35rem;
    &__comment-count{

      font-family: "Roboto",sans-serif;
      font-size: 1.6rem;
      line-height: 2.2rem;
      letter-spacing: 0.1rem;
      color: #030303;
    }
    &__sort-by{
      font-family: "Roboto",sans-serif;
      font-size: 1.4rem;
      line-height: 2.2rem;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #606060;
    }
  }

  &__container{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem;
    &__profile-picture{
    }
    &__input{
      font-family: "Roboto",sans-serif;
      font-size: 1.4rem;
      line-height: 5rem;
      letter-spacing: 0.02rem;
      color: #606060;
      width: 100%;
      outline: none;
      border:none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__individual{
      margin-top: 1.6rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.6rem;

      &__info__name{
        font-family: "Roboto",sans-serif;
        font-size: 1.3rem;
        line-height: 1.8rem;
        color: #030303;
        &--second{
          color: #606060;
        }
      }
      &__info__description{
        margin-top: .5rem;
        font-family: "Roboto",sans-serif;
        font-size: 1.3rem;
        line-height: 2.0rem;
        letter-spacing: 0.02rem;
        color: #030303;
      }
      &__info__reaction{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @extend .small-margin-top;
        gap: 1.6rem;
        &__description{
          @extend .flex-centered;
          @extend .comment-extend;
          gap: 1.6rem;
        }
        &__reply{
          @extend .flex-centered;
          @extend .comment-extend;
          gap: 1.6rem;
        }
        &__view-reply{
          @extend .small-margin-top;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-family: "Roboto",sans-serif;
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-align: center;
          letter-spacing: 0.05rem;
          color: #065FD4;
          gap: 1.6rem;
        }
      }
    }
  }
}
